html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav {
    overflow: hidden;
    width: 100%;
    background: linear-gradient(to right,#689ce4, #49b4ea);
    position: fixed;
    top: 0;
    height: 60px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 4px 0 #ffffff;
}

nav .logo {
    font-size: 1.rem;
    width: 30%;
    left: -35px;
    position: relative;
    top: -18px;
}

nav .logo img {
    padding-top: 20px;
    width: 60px;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: rgb(78, 71, 71);
    font-family: Arial;
    padding: 0px 10px;
    font-weight: bold;
    transition: 0.15s;
}

nav a:hover {
    color: aliceblue;
}

#nav-button {
    display: none;
}

label {
    display: none;    
}

header img {
    padding: 10px 0px;
    box-sizing: border-box;
    top: 60px;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

section img {
    padding: 10px 0px;
    box-sizing: border-box;
    top: 60px;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}  

footer {
    width: 100%;
    background: linear-gradient(to right,  #49b4ea,#4887de, #49b4ea);
}


/* responsive */

@media only screen and (max-width: 736px) and (orientation: portrait) {

    nav {
        align-items: center;
    }

    nav .logo {
        width: 30%;
        position: absolute;
        left: 0px;
    }

    nav .logo img {
        padding-top: 20px;    
    }

    nav ul {
        position: fixed;
        top: 44px;
        width: 100%;
        background: #cdf7e5;
        max-height: 0;
        overflow: hidden;
    }

    nav li {
        display: block;
        width: 100%;
        padding: 5px;
    }

    nav a {
        width: 100%;
        display: block;
    }

    nav li:hover {
        background: rgba(172, 255, 214, 0.452);
    }

    label {
        display: block;
        padding: 0px 10px;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        right: 2%;
    }

    label:hover {
        color: white;
    }

    nav #nav-button:checked~ul {
        max-height: 100%;
        transition: all 1s ease-out;
    }

}